    <!-- HOME -->
    <div id="home" class="collapse show">
        <div class="card card-body bg-<%- colors[0] %> text-white py-5 card-square">
          <h2><%- home.title %></h2>
          <p class="lead"><%- home.titleParagraph %></p>
        </div>
  
        <div class="card card-body py-5">
          <h3><%- home.skillsTitle %></h3>
          <p><%- home.skillsParagraph %></p>
          <hr>
          <% for(var i=0; i < home.skills.length; i++) { %>
          <h4><%- home.skills[i].name %></h4>
          <div class="progress mb-3">
            <div class="progress-bar bg-<%- colors[0] %>" style="width:<%- home.skills[i].percentage %>"></div>
          </div>
          <% } %>

        </div>
      </div>